{% extends 'base.html' %}
{% load static %}
{% block title %}修改密码{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="input-group mb-3 col-lg-6 offset-lg-3">
            <div class="input-group-prepend">
                <span class="input-group-text">原密码</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入原密码" id="OldPasswordBox">
        </div>
        <div class="input-group mb-3 col-lg-6 offset-lg-3">
            <div class="input-group-prepend">
                <span class="input-group-text">新密码</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入新密码" id="NewPasswordBox">
        </div>
        <div class="row">
            <div class="col-lg-2 offset-lg-5">
                <button type="button" class="btn btn-outline-primary" style="width: 100%" id="xgmmBTN">修改密码</button>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="GoToLoginModal">
        <div class="modal-dialog modal-dialog-centered bd-example-modal-sm modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">请先登录</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">前往登录</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="ErrorModal">
        <div class="modal-dialog modal-dialog-centered bd-example-modal-sm modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ErrorModalH5"></h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" id="ChangeSuccessModal">
        <div class="modal-dialog modal-dialog-centered bd-example-modal-sm modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改成功，请重新登录</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        {#$().alert()#}
        let currentUsername = '{{ currentUsername }}';
        let xgmmBTN = document.querySelector('#xgmmBTN');
        let OldPasswordBox = document.querySelector('#OldPasswordBox');
        let NewPasswordBox = document.querySelector('#NewPasswordBox');
        let ErrorModalH5 = document.querySelector('#ErrorModalH5');
        if (currentUsername == '-1') {
            $('#GoToLoginModal').modal();
        }
        $('#GoToLoginModal').on('hidden.bs.modal', function (event) {
            window.location.href = '../login/';
        })
        $('#ChangeSuccessModal').on('hidden.bs.modal', function (event) {
            window.location.href = '../login/';
        })
        xgmmBTN.onclick = function () {
            if (currentUsername == '-1') {
                $('#GoToLoginModal').modal();
                return;
            }
            if (NewPasswordBox.value.length <= 5) {
                ErrorModalH5.innerHTML = "密码长度需大于5";
                $('#ErrorModal').modal();
                return;
            }
            $.ajax({
                url: '/changePassword/ajax/',
                type: "post",
                data: {
                    OldPassword: OldPasswordBox.value,
                    NewPassword: NewPasswordBox.value,
                },
                success: function (res) {
                    if (res == 'Please Login First') {
                        $('#GoToLoginModal').modal();
                        return;
                    } else if (res == 'Wrong OldPassword') {
                        ErrorModalH5.innerHTML = "原密码错误，请重试"
                        $('#ErrorModal').modal();
                        return;
                    } else if (res == 'Success') {
                        $('#ChangeSuccessModal').modal();
                        return;
                    }
                }
            })
        }

    </script>
{% endblock %}