{% extends 'base.html' %}
{% load static %}
{% block title %}修改密码{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    <div class="container mt-3">
        <div class="input-group mb-3 col-lg-6 offset-lg-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >原密码</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入原密码" id="passwordBox">
        </div>
        <div class="input-group mb-3 col-lg-6 offset-lg-3">
            <div class="input-group-prepend">
                <span class="input-group-text" >新密码</span>
            </div>
            <input type="text" class="form-control" placeholder="请输入新密码" id="passwordBox">
        </div>
        <div class="row">
            <div class="col-lg-2 offset-lg-5">
                <button type="button" class="btn btn-outline-primary" style="width: 100%" id="zcBTN">修改密码</button>
            </div>
        </div>
    </div>



    <script>
        {#$().alert()#}
        let currentUsername = {{ currentUsername }};
        if(currentUsername==-1) {
            alert("请先登录！");
            window.location.href='../login/';
        }
    </script>
{% endblock %}